
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~vuetify/dist/vuetify.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

@import '~vue-tel-input/dist/vue-tel-input.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
footer {
  height: 120px;
}

#map {
  height: 450px;
  width: 100%;
}
.headline {
  margin-top: 20px;
}

.count {
  margin: 15px auto;
}

img.photo {
  max-width: 100px;
  height: auto;
}

.vue-tel-input {
    border: none!important;
    width: 100%;
    &:focus-within {
        box-shadow: none!important;
    }
    ul {
        z-index: 4;
    }
}

.phone_number {
    .v-text-field__prefix {
        width: auto!important;
    }
    .v-label {
        left: 50px!important;
    }
}
.btn-row {
    margin-left: 0px!important;
}
